@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
	--primary-bg: hsl(0, 0%, 12%);
	--secondary-bg: hsl(0, 0%, 8%);
	--accent-color: #c5f82a;
	--text-color: #9D9D9D;
	--white: hsl(0, 0%, 100%);
	--border-radius: 0.9375rem;
	--padding-sm: 0.75rem;
	--padding-md: 1.875rem;
}

* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 6.25rem;
}

h1 {
	color: var(--white);
}

body {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	background: var(--secondary-bg);
	margin: 0 auto;
}

.card {
	width: 400px;
	height: 41.875rem;
	text-align: center;
	background: var(--primary-bg);
	border-radius: var(--border-radius);
}

.card img {
	margin-top: 2.5rem;
	border-radius: 3rem;
}

.card .description {
	font-size: 15.6px;
	color: var(--text-color);
}

.city {
	color: var(--accent-color);
}

.card .list li {
	margin-bottom: 1.275rem;
}

.card .list a {
	background: #333333;
	color: var(--white);
	display: flex;
	padding: var(--padding-sm) var(--padding-md);
	border: 0.0625rem solid #1f1f1f;
	border-radius: 0.5rem;
	width: 70%;
	text-align: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin: 0 auto;
	transition: background-color 0.5s, color 0.5s;
}

.card .list a:hover {
	background: var(--accent-color);
	color: #000;
}

.card .list a:focus {
	outline: 2px dashed var(--accent-color);
	outline-offset: 4px;
}

@media (max-width: 768px) {
	.card {
		width: 100%;
		height: auto;
	}

	.card img {
		width: 4rem;
		margin-top: 1rem;
	}
}